#weather{
  border-radius: 10px;
  border-width: thin;
}

img {
  height: 100px;
  width: auto;
}

#header{
  background-color: #1a1a1a;
}

#pageTitle{
  color: white;
}

#header form{
  float:right;
  margin-top: 10px;
  margin-right: 10px;
  background: transparent;
}

#header form label{
  margin-right: 3px;
  margin-left: 3px;
  color: white;
}

#loginBtn{
  margin-left: 3px;
  color: white;
}

#signUpModal .modal-header{
  background-color: #1a1a1a;
  color: white;
}


#signUpModal .modal-header button{
  color: white;
}
